.App {
  text-align: center;
}

.logo {
 height: 100px;
}


.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #926BA8;
}

.all-or-mine {
margin-left: 10%;
  font-weight: bold;
  color: #e6e6e6;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1;
}

.all-or-mine:hover{
  border-bottom: 2px solid #e6e6e6;
}
.all-or-mine:active{
  border-bottom: 2px solid #e6e6e6;
}

.categories-list{
  width: 252px;
  background-color: #e6e6e6;

  display: flex;
  flex-direction: column;

}

.categories-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
}

.plus-button{
  width: 33px;
  height: 33px;
  border-radius: 50px;
}

.category-item{
  font-weight: bold;
  font-size: 20px;
  width: 252px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  align-items: center;
    background-color: #e6e6e6;
    color: black;

}
.category-item:hover{
  color: white;
  background-color: #926BA8;

}
.category-item:active{
  color: white;
  background-color: #926BA8;
}

.section {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;

}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;

}
.cardRecipe{
  border-radius: 50%;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  max-height: 20%;
  margin-top: 10px;
  margin-right: 10px;

}
.image{
  width: 700;
  height: 700;
}

/* need to modify or delete this */
button {
  background-color: #926BA8 ;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
}
